@font-face {
	font-family: "Inter";
	src: url('./assets/fonts/Inter-Regular.ttf');
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

button {
	cursor: pointer;
	border: none;
}

a {
	text-decoration: none;
}
